Repository bitlap/bitlap, pull requests merged in 2021-08, with the labels that each got.

#40 optimize Code and add type supported
  client/src/main/kotlin/org/bitlap/jdbc/BitlapBaseResultSet.kt
  client/src/main/kotlin/org/bitlap/jdbc/BitlapConnection.kt
  client/src/main/kotlin/org/bitlap/jdbc/BitlapDriver.kt
  client/src/main/kotlin/org/bitlap/jdbc/BitlapQueryResultSet.kt
  client/src/main/kotlin/org/bitlap/jdbc/BitlapStatement.kt
  client/src/main/kotlin/org/bitlap/jdbc/Utils.kt
  client/src/test/kotlin/TestDriverUtils.kt
  client/src/test/kotlin/TestJdbcDriver.kt
  network/README.md
  network/src/main/kotlin/org/bitlap/network/BSQLException.kt
  network/src/main/kotlin/org/bitlap/network/NetworkHelper.kt
  network/src/main/kotlin/org/bitlap/network/client/BitlapClient.kt
  network/src/main/kotlin/org/bitlap/network/core/BCLIService.kt
  network/src/main/kotlin/org/bitlap/network/core/BitlapSession.kt
  network/src/main/kotlin/org/bitlap/network/core/Handle.kt
  network/src/main/kotlin/org/bitlap/network/core/HandleIdentifier.kt
  network/src/main/kotlin/org/bitlap/network/core/NetworkService.kt
  network/src/main/kotlin/org/bitlap/network/core/NetworkServiceImpl.kt
  network/src/main/kotlin/org/bitlap/network/core/OperationHandle.kt
  network/src/main/kotlin/org/bitlap/network/core/OperationType.kt
  network/src/main/kotlin/org/bitlap/network/core/RowSet.kt
  network/src/main/kotlin/org/bitlap/network/core/Session.kt
  network/src/main/kotlin/org/bitlap/network/core/SessionHandle.kt
  network/src/main/kotlin/org/bitlap/network/core/SessionManager.kt
  network/src/main/kotlin/org/bitlap/network/core/TableSchema.kt
  network/src/main/kotlin/org/bitlap/network/processor/CloseSessionProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/ExecuteStatementProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/FetchResultsProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/GetColumnsProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/GetResultSetMetaDataProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/GetSchemasProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/GetTablesProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/OpenSessionProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/ProcessorHelper.kt
  network/src/main/kotlin/org/bitlap/network/rpc/GetColumnsProcessor.kt
  network/src/main/kotlin/org/bitlap/network/rpc/GetSchemasProcessor.kt
  network/src/main/kotlin/org/bitlap/network/rpc/GetTablesProcessor.kt
  network/src/main/protobuf/driver_service.proto
  server/src/main/kotlin/org/bitlap/server/raft/BitlapServerEndpoint.kt
Labels: client

#37 Driver
  LICENSE
  client/pom.xml
  client/src/main/kotlin/org/bitlap/jdbc/BitlapBaseResultSet.kt
  client/src/main/kotlin/org/bitlap/jdbc/BitlapConnection.kt
  client/src/main/kotlin/org/bitlap/jdbc/BitlapDataSource.kt
  client/src/main/kotlin/org/bitlap/jdbc/BitlapDatabaseMetaData.kt
  client/src/main/kotlin/org/bitlap/jdbc/BitlapDriver.kt
  client/src/main/kotlin/org/bitlap/jdbc/BitlapMetaDataResultSet.kt
  client/src/main/kotlin/org/bitlap/jdbc/BitlapQueryResultSet.kt
  client/src/main/kotlin/org/bitlap/jdbc/BitlapResultSetMetaData.kt
  client/src/main/kotlin/org/bitlap/jdbc/BitlapStatement.kt
  client/src/main/kotlin/org/bitlap/jdbc/Utils.kt
  client/src/test/kotlin/TestDriverUtils.kt
  client/src/test/kotlin/TestJdbcDriver.kt
  common/pom.xml
  common/src/main/kotlin/org/bitlap/common/BitlapConf.kt
  common/src/main/kotlin/org/bitlap/common/bitmap/RBM.kt
  common/src/main/kotlin/org/bitlap/common/exception/BitlapException.kt
  common/src/main/protobuf/rpc.proto
  core/pom.xml
  core/src/main/kotlin/org/bitlap/core/storage/store/DataSourceStore.kt
  network/README.md
  network/pom.xml
  network/src/main/kotlin/org/bitlap/network/BSQLException.kt
  network/src/main/kotlin/org/bitlap/network/NetworkHelper.kt
  network/src/main/kotlin/org/bitlap/network/client/BitlapClient.kt
  network/src/main/kotlin/org/bitlap/network/core/BitlapSession.kt
  network/src/main/kotlin/org/bitlap/network/core/Handle.kt
  network/src/main/kotlin/org/bitlap/network/core/HandleIdentifier.kt
  network/src/main/kotlin/org/bitlap/network/core/NetworkService.kt
  network/src/main/kotlin/org/bitlap/network/core/NetworkServiceImpl.kt
  network/src/main/kotlin/org/bitlap/network/core/OperationHandle.kt
  network/src/main/kotlin/org/bitlap/network/core/OperationType.kt
  network/src/main/kotlin/org/bitlap/network/core/RowSet.kt
  network/src/main/kotlin/org/bitlap/network/core/Session.kt
  network/src/main/kotlin/org/bitlap/network/core/SessionHandle.kt
  network/src/main/kotlin/org/bitlap/network/core/SessionManager.kt
  network/src/main/kotlin/org/bitlap/network/core/TableSchema.kt
  network/src/main/kotlin/org/bitlap/network/processor/CloseSessionProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/ExecuteStatementProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/FetchResultsProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/GetColumnsProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/GetResultSetMetaDataProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/GetSchemasProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/GetTablesProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/OpenSessionProcessor.kt
  network/src/main/kotlin/org/bitlap/network/processor/ProcessorHelper.kt
  network/src/main/protobuf/driver_service.proto
  network/src/main/protobuf/schema.proto
  pom.xml
  server/pom.xml
  server/src/main/kotlin/org/bitlap/server/BitlapServer.kt
  server/src/main/kotlin/org/bitlap/server/raft/BitlapServerEndpoint.kt
  server/src/main/kotlin/org/bitlap/server/raft/rpc/HelloRpcProcessor.kt
  server/src/test/kotlin/org/bitlap/server/test/Test.kt
  server/src/test/resources/bitlap.setting
  server/src/test/resources/log4j2.xml
Labels: client, common

#35 Add simple sql implementation
  README.md
  common/src/main/kotlin/org/bitlap/common/conf/BitlapConfKey.kt
  core/pom.xml
  core/src/main/codegen/config.fmpp
  core/src/main/codegen/data/Parser.tdd
  core/src/main/codegen/includes/compoundIdentifier.ftl
  core/src/main/codegen/includes/parserImpls.ftl
  core/src/main/kotlin/org/bitlap/core/BitlapContext.kt
  core/src/main/kotlin/org/bitlap/core/data/BitlapCatalog.kt
  core/src/main/kotlin/org/bitlap/core/io/DefaultBitlapReader.kt
  core/src/main/kotlin/org/bitlap/core/io/SimpleBitlapWriter.kt
  core/src/main/kotlin/org/bitlap/core/meta/DataSourceManager.kt
  core/src/main/kotlin/org/bitlap/core/sql/Analyzer.kt
  core/src/main/kotlin/org/bitlap/core/sql/BitlapSqlNode.kt
  core/src/main/kotlin/org/bitlap/core/sql/Functions.java
  core/src/main/kotlin/org/bitlap/core/sql/QueryExecution.kt
  core/src/main/kotlin/org/bitlap/core/sql/Rule.kt
  core/src/main/kotlin/org/bitlap/core/sql/Tests.kt
  core/src/main/kotlin/org/bitlap/core/sql/analyzer/RuleChecker.kt
  core/src/main/kotlin/org/bitlap/core/sql/analyzer/RuleResolveWithMetric.kt
  core/src/main/kotlin/org/bitlap/core/sql/parser/SqlCommand.kt
  core/src/main/kotlin/org/bitlap/core/sql/parser/SqlCreateDataSource.kt
  core/src/main/kotlin/org/bitlap/core/sql/parser/SqlCreateSchema.kt
  core/src/main/kotlin/org/bitlap/core/sql/parser/SqlDropDataSource.kt
  core/src/main/kotlin/org/bitlap/core/sql/parser/SqlDropSchema.kt
  core/src/main/kotlin/org/bitlap/core/sql/parser/SqlRunExampleNode.kt
  core/src/main/kotlin/org/bitlap/core/sql/parser/SqlShowDataSources.kt
  core/src/main/kotlin/org/bitlap/core/sql/parser/SqlShowSchemas.kt
  core/src/main/kotlin/org/bitlap/core/sql/rule/RelNodeRule.kt
  core/src/main/kotlin/org/bitlap/core/storage/metadata/DataSource.kt
  core/src/main/kotlin/org/bitlap/core/storage/store/DataSourceStore.kt
  core/src/main/kotlin/org/bitlap/core/storage/store/MetricStore.kt
  core/src/test/kotlin/org/bitlap/core/test/CatalogTest.kt
  core/src/test/kotlin/org/bitlap/core/test/DataSourceManagerTest.kt
  core/src/test/kotlin/org/bitlap/core/test/SimpleBitlapWriterTest.kt
  integration/cli/src/main/kotlin/org/bitlap/cli/BitlapSqlLine.kt
  network/src/main/protobuf/schema.proto
  pom.xml
Labels: core, SQL
